<%@ Master Language="C#" MasterPageFile="~/masterpages/BKA_Master.master" AutoEventWireup="true" %>

<asp:content ContentPlaceHolderId="HeadContent" runat="server">
	
</asp:content>

<asp:content ContentPlaceHolderId="ChildContent" runat="server">
	<umbraco:Macro ID="Macro7" Alias="BlogSearchResults" runat="server"></umbraco:Macro>
</asp:content>