<?xml version="1.0" encoding="utf-8" ?> 
<XsltExtensions>
    <ext assembly="/Umlaut.Umb.Blog" type="Umlaut.Umb.Blog.BlogLibrary" alias="BlogLibrary"></ext>
    <ext assembly="/Umlaut.Umb.Blog" type="Umlaut.Umb.Blog.BlogList" alias="BlogList"></ext>
    <ext assembly="/Umlaut.Umb.Blog" type="Umlaut.Umb.Blog.BlogTags" alias="BlogTags"></ext>
    <ext assembly="/KKSClasses" type="KKSClasses.YouTube" alias="KKSClasses.YouTube"></ext>
  <!--
  <ext assembly="/bin/name-of-dll-without-dll-extension" type=”Fully.Qualified.Name.Of.Type.Including.Namespace” alias=”Prefix-to-use-in-xslt” />
  -->
</XsltExtensions> 